@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


h1{ 
    font-family: 'Poppins', sans-serif;  
    font-size: 10vw;
    display: flex;
    justify-content: center;
    margin-top: 20vw;
    position: relative; 
    z-index: 999
}

a{ 
  color:white
}

#canvas-container {
    position: absolute;
    top: -10vw;
    left: -10px;
    width: 100vw;
    height: 10px;
    pointer-events: none;
  }

  .centre { 
    margin-left: 33vw;
    font-size: 30px;
    color: white; 
    position: relative; 
    z-index: 999
  }

  div {
     background-color:transparent;
  }
  