
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    flex-direction: row; 
}

.container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 20px; /* for some space below the container */
}

.div { 
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top {
    background-color: rgb(255, 255, 0);
}

#middle {
    background-color: rgb(255, 0, 0);
}

#bottom {
    background-color: rgb(0, 0, 255);
}

#round-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
